
 @import url(https://fonts.googleapis.com/css?family=Spectral);
 
 h1 {
    color: rgb(0, 51, 87);
    text-align: center;
    text-decoration: wavy;
    font-family: 'Spectral', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 197%;
  }
  p {
    text-align: center;
    font-family: 'Spectral', serif;
    font-size: 125%;
  }