
 @font-face {
    font-family: Spectral;
    src: url(https://fonts.googleapis.com/css?family=Spectral);
 }
 h1 {
    color: rgb(0, 51, 87);
    text-align: center;
    text-decoration: wavy;
    font-family: 'Spectral', serif;
    font-style: italic;
    font-size: 197%;
  }
  p {
    text-align: center;
    font-family: 'Spectral', serif;
    font-size: 125%;
  }